{
  "openapi" : "3.0.2",
  "info" : {
    "title" : "Order Service API",
    "description" : "",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "http://arch.homework/orderservice/v1/",
    "description" : "order service URL"
  } ],
  "paths" : {
    "/orders" : {
      "post" : {
        "summary" : "Place an order",
        "requestBody" : {
          "description" : "Order",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Order"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Successful order creation",
            "headers" : {
              "Location" : {
                "schema" : {
                  "type" : "string",
                  "example" : "orders/:order_id"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity"
          }
        }
      }
    }
  },
  "security" : [ {
    "cookieAuth" : [ ]
  } ],
  "components" : {
    "securitySchemes" : {
      "cookieAuth" : {
        "type" : "apiKey",
        "in" : "cookie",
        "name" : "session_id"
      }
    },
    "schemas" : {
      "Order" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "items" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Commodity"
            }
          },
          "shipDate" : {
            "type" : "string",
            "format" : "date"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "placed", "approved", "delivered" ]
          },
          "complete" : {
            "type" : "boolean",
            "default" : false
          }
        }
      },
      "Commodity" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "quantity" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1
          },
          "price" : {
            "type" : "number",
            "format" : "float"
          }
        }
      }
    }
  }
}