{
  "openapi": "3.0.2",
  "info": {
    "title": "Billing Service API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://arch.homework/billingservice/v1/",
      "description": "Billing service URL"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "paths": {
    "/accounts": {
      "post": {
        "summary": "Create an account",
        "requestBody": {
          "description": "Account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful account creation",
            "headers": {
              "Location": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "accounts/:account_id"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/accounts/{account_id}/depositation": {
      "post": {
        "summary": "Depositing money into an account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Amount",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Sum"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/accounts/{account_id}/withdraw": {
      "post": {
        "summary": "Withdraw money",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Amount",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Sum"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Insufficient funds to write off"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "summary": "Get balance",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sum"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "balance": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          }
        }
      },
      "Sum": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          }
        }
      },
      "Currency": {
        "type": "string",
        "enum": [
          "RUB",
          "USD",
          "EUR"
        ]
      }
    },
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "name": "session_id",
        "in": "cookie"
      }
    }
  }
}