{
  "openapi": "3.0.2",
  "info": {
    "title": "Registration/Authentification Service API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://arch.homework/auth/v1/",
      "description": "Registration/Authentification Service URL"
    }
  ],
  "paths": {
    "/register": {
      "post": {
        "summary": "Register an User",
        "requestBody": {
          "description": "New User",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful order creation",
            "headers": {
              "Location": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "orders/:order_id"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/login": {
      "post": {
        "summary": "User login",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully authenticated. The session ID is returned in a cookie named `session_id`. You need to include this cookie in subsequent requests.\n",
            "headers": {
              "X-UserId": {
                "description": "User id",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "integer"
                }
              },
              "X-User": {
                "description": "User login",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string"
                }
              },
              "X-First-Name": {
                "description": "User first name",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string"
                }
              },
              "X-Last-Name": {
                "description": "User last name",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string"
                }
              },
              "X-Email": {
                "description": "User e-mail",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "session_id=some uuid; Path=/; HttpOnly"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          }
        }
      }
    },
    "/auth": {
      "get": {
        "summary": "Check authorisation",
        "parameters": [
          {
            "name": "session_id",
            "in": "cookie",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response headers",
            "headers": {
              "X-UserId": {
                "description": "User id",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "integer"
                }
              },
              "X-User": {
                "description": "User login",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string"
                }
              },
              "X-First-Name": {
                "description": "User first name",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string"
                }
              },
              "X-Last-Name": {
                "description": "User last name",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string"
                }
              },
              "X-Email": {
                "description": "User e-mail",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          }
        }
      }
    },
    "/logout": {
      "get": {
        "summary": "User logout",
        "parameters": [
          {
            "name": "session_id",
            "in": "cookie",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signin": {
      "get": {
        "summary": "Error page",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Please go to login and provide Login/Password"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "body": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "OkRespHeaders": {
        "description": "OK response headers",
        "headers": {
          "X-UserId": {
            "description": "User id",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          "X-User": {
            "description": "User login",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          "X-First-Name": {
            "description": "User first name",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          "X-Last-Name": {
            "description": "User last name",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          "X-Email": {
            "description": "User e-mail",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}